body {
  background-color: black;
  color: white;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: column;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 4%;
}